<div class="btn-group" data-toggle="buttons">
  <% val.each_with_index do |love_etc,i| %>
  <label class="btn btn-default">
    <%= check_box_tag 'love_etc[' + i.to_s + ']', love_etc, false, {} %>
    <%= love_etc %>
  </label>
  <% end %>
</div>
