<div class="row">
  <div class="col-sm-9">
    <h1 class="page-header">手相鑑定</h1>
    <form method="post" action=<%= result_path %>>
	旅行先：<input type="text" name="dest" /><br />
	人数：<input type="text" name="num" />人<br />
      <div class="btn-group" data-toggle="buttons">
	<label class="btn btn-info">
	  <input type="checkbox"> 感情線
	</label>
	<label class="btn btn-info">
	  <input type="checkbox"> 生命線
	</label>
	<label class="btn btn-info">
	  <input type="checkbox"> 頭脳線
	</label>
      </div>
      <br>
      <div class="btn-group" data-toggle="buttons">
	<label class="btn btn-info">
	  <input type="radio"> 突発的な恋愛
	</label>
	<label class="btn btn-info">
	  <input type="radio"> 落ち着いた恋愛
	</label>
	<label class="btn btn-info">
	  <input type="radio"> 消極的な恋愛
	</label>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">鑑定結果</button>
    </form>
  </div>
  <div class="col-sm-3">
    <div id="sidebar">
      <ul class="nav">
	<li>メニュー</li>
	<li>メニュー</li>
	<li>メニュー</li>
	<li>メニュー</li>
	<li>メニュー</li>
      </ul>
    </div>
  </div>
</div>
