<h1>Palmistry#appraisal</h1>
<p>Find me in app/views/palmistry/appraisal.html.erb</p>

<div id="draggable" class="ui-widget-content">
  <p>Drag me around</p>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
