<h1>Palmistry#appraisal</h1>
<p>Find me in app/views/palmistry/appraisal.html.erb</p>

<form method="get" action=<%= result_path %>>
  <select class="form-control">
    <option>感情線</option>
    <option>生命線</option>
    <option>頭脳線</option>
    <option>運命線</option>
    <option>金環線</option>
  </select>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
