<div class="row">
  <div class="col-md-4 col-md-offset-4" id="profile-info">
  <h1 class="page-header"></h1>
  <a href="/palmistry/new"><%= image_tag("top_img.png", class:"img-circle", id:"profile-img")%></a>
  </div>
</div>
