<h1 class="page-header">プロフィール</h1>
<div class="row">
  <div class="col-sm-7" id="profile-info">
    <p>Twitter:<br> <a href="https://twitter.com/himajin315" target="_blank">himajin315</a></p>
    <p>GitHub :<br> <a href="https://github.com/himajin315/palmistry" target="_blank">himajin315/palmistry</a></p>
    <p>coconala : <br><a href="http://coconala.com/services/7607" target="_blank">【わかりやすさ No.1】☆画像プレゼント☆500円手相鑑定☆貴方の成功のタイミングを手に書きます。</a></p>
    <br>
    <h3>参考文献</h3>
    <div class="bibliography">
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&nou=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=himajin315-22&o=9&p=8&l=as1&m=amazon&f=ifr&ref=qf_sp_asin_til&asins=4537203145" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=4528013401&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=4791614291&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=4812702615&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=490203705X&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=4902037211&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=4813319831&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=4040664841&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=B00BXH0KCM&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
      <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=himajin315-22&o=9&p=8&l=as1&asins=B003XF2M4G&nou=1&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
    </div>
  </div>
  <div class="col-sm-5">
    <%= image_tag("yoshiaki_sq.png", class:"img-circle", id:"profile-img")%>
  </div>
</div>
