<h1 class="page-header">プロフィール</h1>
<div class="row">
  <div class="col-sm-7" id="profile-info">
    <p>Twitter:<br> <a href="https://twitter.com/tesou_himajin" target="_blank">tesou_himajin</a></p>
    <p>GitHub :<br> <a href="https://github.com/himajin315/palmistry" target="_blank">himajin315/palmistry</a></p>
    <p>coconala : <br><a href="http://coconala.com/services/7607" target="_blank">【わかりやすさ No.1】☆画像プレゼント☆500円手相鑑定☆貴方の成功のタイミングを手に書きます。</a></p>
    <br>
    <h3>参考文献</h3>
    <ul>
      <li><a href="http://www.amazon.co.jp/%E3%82%BA%E3%83%90%E3%83%AA%E7%9A%84%E4%B8%AD-%E6%89%8B%E7%9B%B8%E5%8D%A0%E3%81%84%E2%80%95%E5%9F%BA%E6%9C%AC%E7%B7%9A%E3%81%AE%E7%B5%84%E3%81%BF%E5%90%88%E3%82%8F%E3%81%9B%E3%81%A7%E3%82%8F%E3%81%8B%E3%82%8B%E3%80%8C%E9%81%8B%E5%8B%A2-%E6%80%A7%E6%A0%BC%E3%80%8D30%E3%82%BF%E3%82%A4%E3%83%97-%E4%BC%8A%E8%97%A4-%E7%91%9B%E8%BC%94/dp/4537203145" target="_blank">ズバリ的中！ 手相占い (伊藤瑛輔)</a></li>
      <li><a href="http://www.amazon.co.jp/%E7%B4%94%E6%AD%A3%E6%89%8B%E7%9B%B8%E5%8D%A0%E3%81%84%E9%96%8B%E9%81%8B%E8%A1%93%E5%85%A5%E9%96%80-%E7%94%B0%E5%8F%A3-%E4%BA%8C%E5%B7%9E/dp/4528013401" target="_blank">純正手相 開運術入門 (田口二州)</a></li>
      <li><a href="http://www.amazon.co.jp/%E3%82%BA%E3%83%90%E3%83%AA-%E6%89%8B%E7%9B%B8%E5%8D%A0%E3%81%84-%E9%BD%8A%E8%97%A4-%E7%80%9E/dp/4791614291" target="_blank">ズバリ！ 手相占い (齋藤瀞)</a></li>
      <li><a href="http://www.amazon.co.jp/%E7%A9%B6%E6%A5%B5%E3%81%AE%E6%89%8B%E7%9B%B8%E5%8D%A0%E3%81%84%E2%80%95%E5%B7%A6%E5%8F%B3%E6%AF%94%E8%BC%83%E3%81%AE%E5%89%B2%E7%AC%A6%E8%A6%B3%E6%B3%95-%E5%AE%89%E9%81%94-%E9%A7%BF/dp/4812702615" target="_blank">究極の手相占い 左右比較の割符観法 (安達駿)</a></li>
      <li><a href="http://www.amazon.co.jp/%E7%9A%84%E4%B8%AD%E6%89%8B%E7%9B%B8%E8%A1%93%E2%80%95%E6%89%8B%E7%9B%B8%E6%9B%B8%E3%81%AE%E6%B1%BA%E5%AE%9A%E7%89%88-%E5%85%A5%E9%96%80%E3%81%8B%E3%82%89%E5%BF%9C%E7%94%A8%E3%81%BE%E3%81%A7-%E8%A5%BF%E8%B0%B7-%E6%B3%B0%E4%BA%BA/dp/490203705X" target="_blank">的中手相術 手相書の決定版 (西谷泰人)</a></li>
      <li><a href="http://www.amazon.co.jp/%E6%B5%81%E5%B9%B4%E6%89%8B%E7%9B%B8%E8%A1%93%E2%80%95%E6%89%8B%E7%9B%B8%E3%81%AE%E7%B7%9A%E3%81%A7%E3%80%81%E3%81%84%E3%81%A4%E4%BD%95%E3%81%8C%E8%B5%B7%E3%81%93%E3%82%8B%E3%81%8B%E3%81%8C%E5%88%86%E3%81%8B%E3%82%8B-%E8%A5%BF%E8%B0%B7-%E6%B3%B0%E4%BA%BA/dp/4902037211" target="_blank">流年手相術 手相の線でいつなにが起こるかが分かる (西谷泰人)</a></li>
      <li><a href="http://www.amazon.co.jp/%E8%87%AA%E5%88%86%E3%81%AB%E5%A5%87%E8%B7%A1%E3%82%92%E8%B5%B7%E3%81%93%E3%81%99%E6%89%8B%E7%9B%B8%E8%A1%93-%E6%B0%B4%E8%90%BD-%E8%8B%B1%E9%9B%84/dp/4813319831" target="_blank">自分に奇跡を起こす手相術！ (水落英雄)</a></li>
    </ul>
  </div>
  <div class="col-sm-5">
    <%= image_tag("yoshiaki_sq.png", class:"img-circle", id:"profile-img")%>
  </div>
</div>
