<h1 class="page-header">プロフィール</h1>
<p>Twitter: <a href="https://twitter.com/himajin315" target="_blank">himajin315</a></p>
<p>GitHub : <a href="https://github.com/himajin315/palmistry" target="_blank">himajin315 / palmistry</a></p>

