@import "bootstrap";

$attention:          #88343f;
$attention-gradient: #994550;
$font:               #344142;
$dark:               #a58f78;
$dark-gradient:      #b6a089;
$main:               #dbbea2;
$main-gradient:      #eccfb3;
$bright:             #f1f2f0;

.navbar-collapse.collapse {
  background-image: -webkit-gradient(linear,left 0,left 100%,from($main-gradient),to($main));
  background-image: linear-gradient(to bottom,$main-gradient 0,$main 100%);
  background-image: -webkit-linear-gradient(top,$main-gradient,0%,$main,100%);
  background-image: -moz-linear-gradient(top,$main-gradient 0,$main 100%);
}

body {
  background-color: $bright;
}
a {
  color: $font;
  &:hover {
    color: $attention;
  }
}

.btn-info {
  color: $font;
  background-color: $main;
  border-color: $main;
  &:hover, &:active, &:visited, &:focus {
    color: $attention;
    background-color: $main-gradient;
    border-color: $main-gradient;
  }
}

.btn-info.active,
.btn-default:active,
.btn-default.active {
  color: $bright;
  background-color: $dark-gradient;
  border-color: $dark-gradient;
}
.btn-default {
  border-color: $dark-gradient;
}
.btn-primary {
  color: $bright;
  background-color: $attention;
  border-color: $attention;
  &:hover, &:active, &:visited, &:focus {
    color: $bright;
    background-color: $attention-gradient;
    border-color: $attention-gradient;
  }
}

.btn-primary.active {
  color: $font;
  background-color: $bright;
  border-color: $bright;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: $main-gradient;
}

.btn {
  margin: 5px 0;
}

#sidebar {
  position: fixed;
  top: 60px;
}

h3 {
  padding-left: 7px;
  border-left: 3px solid $attention;
  border-bottom: 1px solid #eee;
}

#radio-info {
  background-color: $main;
  border: 1px solid $main;
  border-radius: 4px;
}

#check-info {
  background-color: white;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid $dark;
  border-radius: 4px;
}

#click-descriptiono {
  margin-top: 40px;
}

//profile.html.erb

#profile-img {
  float: left;
  height:350px;
  width: 350px;
  border-radius: 300px;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border:5px solid $dark;
  margin:0 10px;
}
