/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.palm-img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.palm-img-caption {
  margin: 5px 0 0 0;
}

.bibliography {
  margin-bottom: 30px;
}
#result-palmistry{
  background-color: #fff;
  border: 1px solid #a58f78;
}

#opinion {
  float: right;
  text-align: left;
  clear: right;
  margin: 10px 0px 20px;
  padding: 10px 0 10px;
}
#pdf-opinion, #pdf-qrcode, #pdf-ryudaisai {
  display: none;
}

.sns-button {
  float: right;
  margin-top: 20px;
}
