/********************
  create PDf style
*********************/
html {
  font-family: 'IPAexゴシック', 'IPA Pゴシック', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'MS Pゴシック', sans-serif;
}

#pdf-container p {
  font-size: 13px;
}

#pdf-container img {
  width: 100px;
  height: 100px;
}

#pdf-container button {
  display: none;
}

#pdf-container .qrcode {
  display: none;
}

#pdf-container .btn-primary {
  display: none;
}

#pdf-container #opinion {
  display: none;
}

#pdf-container .result-qrcode {
  display: none;
}

#pdf-container #result-money, #pdf-container #result-live,
#pdf-container #result-illness, #pdf-container #result-flow{
  display: none;
}

#pdf-container h1 {
  text-align: center;
  margin-bottom: 50px
}

#pdf-qrcode {
  float: right;
}

#pdf-qrcode img{
  float: right;
  margin: 0 20px 0;
}

#result-url {
}

#pdf-ryudaisai {
  float: right;
  position: fixed;
  top: -20px;
  right: 0px;
}
